html {
  font-size: 15px;
}
* {
  font-size: 1.2rem;
}
.header {
  padding: 1rem;
  margin-bottom: 1rem;
}

.nav-container {
  margin-right: 1rem;
}
.nav-container a {
  text-decoration: none;
  padding: 0.3rem;

  margin-right: 1rem;
  font-size: 1.3rem;
}

.nav-container a:hover {
  background-color: #dedede;
}
body {
  padding: 1rem;
}
button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
